link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.0/foundation-flex#{minAssets}.css')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome#{minAssets}.css')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate#{minAssets}.css')
link(rel='stylesheet', href='/public/css/atomic#{minAssets}.css')
link(rel='stylesheet', href='/public/css/home#{minAssets}.css')
