include ../common/scripts
script(src=`https://cdnjs.cloudflare.com/ajax/libs/jquery/${versions["jquery"]}/jquery${minAssets}.js`)
script(src=`https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic${minAssets}.js`)
script(src=`https://cdnjs.cloudflare.com/ajax/libs/flatpickr/${versions["flatpickr"]}/flatpickr${minAssets}.js`)
script(src=`https://cdnjs.cloudflare.com/ajax/libs/immutable/${versions["immutable"]}/immutable${minAssets}.js`)
script(src=`https://cdnjs.cloudflare.com/ajax/libs/react-router/${versions["react-router"]}/ReactRouter${minAssets}.js`)
script(src=`https://cdnjs.cloudflare.com/ajax/libs/react-router-dom/${versions["react-router"]}/ReactRouterDOM${minAssets}.js`)
script(src=`https://cdnjs.cloudflare.com/ajax/libs/redux-form/${versions["redux-form"]}/redux-form${minAssets}.js`)
script(src=`https://cdnjs.cloudflare.com/ajax/libs/react-router-redux/${versions["react-router-redux"]}/ReactRouterRedux${minAssets}.js`)
script(src=`https://npmcdn.com/history@${versions["history"]}/umd/history${minAssets}.js`)
script(src=`https://js.stripe.com/v2/`)
