script(src='https://fb.me/react-15.1.0#{minAssets}.js')
script(src='https://fb.me/react-dom-15.1.0#{minAssets}.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/immutable/3.8.1/immutable#{minAssets}.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery#{minAssets}.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic#{minAssets}.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/redux/3.5.2/redux#{minAssets}.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/react-router/2.4.1/ReactRouter#{minAssets}.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/react-redux/4.4.5/react-redux#{minAssets}.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/redux-thunk/2.0.1/redux-thunk#{minAssets}.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/redux-form/5.2.4/redux-form#{minAssets}.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/react-router-redux/4.0.4/ReactRouterRedux#{minAssets}.js')
script(src='https://npmcdn.com/history@2.1.2/umd/history#{minAssets}.js')
script(src='https://js.stripe.com/v2/')
