script(src='//fb.me/react-15.0.1#{minAssets}.js')
script(src='//fb.me/react-dom-15.0.1#{minAssets}.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery#{minAssets}.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic#{minAssets}.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/redux/3.3.1/redux#{minAssets}.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/react-router/2.0.1/ReactRouter#{minAssets}.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/react-redux/4.4.1/react-redux#{minAssets}.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/redux-thunk/2.0.1/redux-thunk#{minAssets}.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/redux-form/5.0.1/redux-form#{minAssets}.js')
script(src='/public/js/main#{minAssets}.js')
