script(src='https://fb.me/react-#{versions["react"]}#{minAssets}.js')
script(src='https://fb.me/react-dom-#{versions["react-dom"]}#{minAssets}.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/immutable/#{versions["immutable"]}/immutable#{minAssets}.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery#{minAssets}.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic#{minAssets}.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/redux/#{versions["redux"]}/redux#{minAssets}.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/react-router/#{versions["react-router"]}/ReactRouter#{minAssets}.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/react-redux/#{versions["react-redux"]}/react-redux#{minAssets}.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/redux-thunk/#{versions["redux-thunk"]}/redux-thunk#{minAssets}.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/redux-form/#{versions["redux-form"]}/redux-form#{minAssets}.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/react-router-redux/#{versions["react-router-redux"]}/ReactRouterRedux#{minAssets}.js')
script(src='https://npmcdn.com/history@#{versions["history"]}/umd/history#{minAssets}.js')
script(src='https://js.stripe.com/v2/')
