link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic#{minAssets}.css')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome#{minAssets}.css')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate#{minAssets}.css')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/flatpickr/#{versions["flatpickr"]}/flatpickr.min.css')
link(rel='stylesheet', href='/public/css/atomic#{minAssets}.css')
link(rel='stylesheet', href='/public/css/main#{minAssets}.css')
