script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery#{minAssets}.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/react/0.14.6/react#{minAssets}.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/react/0.14.6/react-dom#{minAssets}.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/react-router/1.0.3/ReactRouter#{minAssets}.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/redux/3.0.5/redux#{minAssets}.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/react-redux/4.0.6/react-redux#{minAssets}.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash#{minAssets}.js')
script(src='/public/js/main.js')
