script(src='//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery#{minAssets}.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react#{minAssets}.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom#{minAssets}.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/react-router/2.0.0/ReactRouter#{minAssets}.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/redux/3.3.1/redux#{minAssets}.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/react-redux/4.4.0/react-redux#{minAssets}.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.3.0/lodash#{minAssets}.js')
script(src='/public/js/main.js')
