script(src='https://npmcdn.com/react@#{versions["react"]}/dist/react#{minAssets}.js')
script(src='https://npmcdn.com/react-dom@#{versions["react"]}/dist/react-dom#{minAssets}.js')
<<<<<<< Updated upstream
script(src='https://cdnjs.cloudflare.com/ajax/libs/d3/#{versions["d3"]}/d3#{minAssets}.js')
=======
>>>>>>> Stashed changes
script(src='https://npmcdn.com/redux@#{versions["redux"]}/dist/redux#{minAssets}.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/#{versions["flatpickr"]}/jquery#{minAssets}.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/field-kit/#{versions["field-kit"]}/field-kit#{minAssets}.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/react-redux/#{versions["react-redux"]}/react-redux#{minAssets}.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/redux-thunk/#{versions["redux-thunk"]}/redux-thunk#{minAssets}.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/es6-promise/#{versions["es6-promise"]}/es6-promise#{minAssets}.js')
script(src='https://npmcdn.com/recharts/umd/Recharts#{minAssets}.js')
